// Variables


$website-width: 1280px;

// Variables


$website-width: 1280px;
$light-blue: #0080A7;
$dark-blue: #00111e;
$yellow: #d9b311;

//setup as if this code is coming from main.css file in css folder
// $bg-image: url('../img/showcase.jpg');  






