// Variables


$website-width: 1280px;

// Variables

$website-width: 1280px;

// COLORS

$yellow-color: #d9b311;
$light-blue: #0080A7;
$medium-color: #ccc;
$dark-blue: #00111e;


//setup as if this code is coming from main.css file in css folder
// $bg-image: url('../img/showcase.jpg');  






